<div class="container mt-5">
  <h1>Add Employee</h1>
  <form action="/emp/save-emp" method="post" class="mt-5">
    <fieldset>
      <label class="form-label" for="disabledInput">Enter Your Name: </label>
      <input
        class="form-control"
        id="disabledInput"
        type="text"
        placeholder="Enter your name here..."
        name="name"
      />
    </fieldset>

    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Enter Your Email: </label>
      <input
        class="form-control"
        id="disabledInput"
        type="email"
        placeholder="Enter your email here..."
        name="email"
      />
    </fieldset>

    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Enter Your Phone Number:
      </label>
      <input
        class="form-control"
        id="disabledInput"
        type="text"
        placeholder="Enter your mobile number here..."
        name="mobile"
      />
    </fieldset>

    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Enter Your City: </label>
      <input
        class="form-control"
        id="disabledInput"
        type="text"
        placeholder="Enter your city here..."
        name="city"
      />
    </fieldset>

    <input
      type="submit"
      value="Add Employee"
      class="btn btn-success mt-3 rounded"
    />
  </form>
</div>