<div class="container mt-5">
    <h1>Employee Management System</h1>
    <a href="/emp/create-user" class="btn btn-success mt-3">Add Employee</a>
    <a href="/emp/show-all-emp" class="btn btn-primary mt-3">Show All Employee</a>

</div>